In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
data = pd.read_csv('tcd-ml-1920-group-income-train.csv') #loading data

In [6]:
data.shape #checking dimensions

(1048574, 17)

In [7]:
cols = ["Year of Record","Housing Situation",
        "Satisfation with employer","Gender","Age",
        "Country","Size of City","Profession",
        "University Degree","Hair Color","Body Height [cm]"]

In [8]:
#Replacing different forms of missing values with np.nan
data[cols] = data[cols].replace({'0':np.nan, 0:np.nan,
                                 'unknown':np.nan,'Unknown': np.nan,
                                 'nA':np.nan,'#NUM!':np.nan, None:np.nan})
data['Work Experience in Current Job [years]'] = data['Work Experience in Current Job [years]'].replace('#NUM!',np.nan)

In [9]:
#removing duplicates
data = data.drop_duplicates()

In [10]:
#dimensions after removing duplicates
data.shape

(991712, 17)

In [11]:
#missing values
data.isnull().sum()

Instance                                                         0
Year of Record                                                4013
Housing Situation                                           266069
Crime Level in the City of Employement                           0
Work Experience in Current Job [years]                          46
Satisfation with employer                                    35955
Gender                                                      136621
Age                                                              0
Country                                                          2
Size of City                                                     0
Profession                                                    2699
University Degree                                            82306
Wears Glasses                                                    0
Hair Color                                                   72584
Body Height [cm]                                                 0
Yearly Income in addition to Salary (e.g. Rental Income)         0
Total Yearly Income [EUR]                                        0
dtype: int64

In [12]:
categorical_cols = ["Housing Situation","Satisfation with employer",
                    "Gender","Country","Profession","University Degree","Hair Color"]

In [13]:
#Replacing missing values
#https://elitedatascience.com/data-cleaning
data[categorical_cols] = data[categorical_cols].fillna('missing')
#Year of record and Instance have 0.99 correlation; Year of record is in ascending order
#Filling missing Year of Reord values with the one in previous row
data['Year of Record'] = data['Year of Record'].fillna(method='pad')

In [14]:
data.head(5)

,Instance,Year of Record,Housing Situation,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm],Yearly Income in addition to Salary (e.g. Rental Income),Total Yearly Income [EUR]
0,1,1940.0,missing,33,17,Unhappy,other,45,Afghanistan,25179,group head,No,1,Black,182,0 EUR,6182.05
1,2,1940.0,missing,25,4.9,Unhappy,female,17,Afghanistan,2278204,heavy vehicle and mobile equipment service tec...,No,0,Blond,172,0 EUR,6819.69
2,3,1940.0,missing,34,21,Unhappy,female,48,Afghanistan,822134,sorter,Bachelor,0,Blond,144,0 EUR,8663.53
3,4,1940.0,missing,70,18,Average,female,42,Albania,59477,quality control senior engineer,No,1,Brown,152,0 EUR,2400.64
4,5,1940.0,missing,51,8,Happy,other,15,Albania,23494,logistician,Master,1,Black,180,0 EUR,2816.18

In [15]:
data.dtypes

Instance                                                      int64
Year of Record                                              float64
Housing Situation                                            object
Crime Level in the City of Employement                        int64
Work Experience in Current Job [years]                       object
Satisfation with employer                                    object
Gender                                                       object
Age                                                           int64
Country                                                      object
Size of City                                                  int64
Profession                                                   object
University Degree                                            object
Wears Glasses                                                 int64
Hair Color                                                   object
Body Height [cm]                                              int64
Yearly Income in addition to Salary (e.g. Rental Income)     object
Total Yearly Income [EUR]                                   float64
dtype: object

In [16]:
#changing datatype to float so that it takes less space
data['Yearly Income in addition to Salary (e.g. Rental Income)'] = data['Yearly Income in addition to Salary (e.g. Rental Income)'].str.replace("\sEUR", "")
data['Yearly Income in addition to Salary (e.g. Rental Income)']=pd.to_numeric(data['Yearly Income in addition to Salary (e.g. Rental Income)'])
#changing datatype to save space
data['Work Experience in Current Job [years]'] = pd.to_numeric(data['Work Experience in Current Job [years]'])
#filling work exp..... missing value col with mean
data['Work Experience in Current Job [years]'] = data['Work Experience in Current Job [years]'].fillna(data['Work Experience in Current Job [years]'].mean())

In [17]:
data.dtypes

Instance                                                      int64
Year of Record                                              float64
Housing Situation                                            object
Crime Level in the City of Employement                        int64
Work Experience in Current Job [years]                      float64
Satisfation with employer                                    object
Gender                                                       object
Age                                                           int64
Country                                                      object
Size of City                                                  int64
Profession                                                   object
University Degree                                            object
Wears Glasses                                                 int64
Hair Color                                                   object
Body Height [cm]                                              int64
Yearly Income in addition to Salary (e.g. Rental Income)    float64
Total Yearly Income [EUR]                                   float64
dtype: object

In [18]:
data.to_csv("traindataset.csv") #saving cleaned data to new file